In [6]:
import pandas as pd
pd.__version__

'2.3.2'

In [7]:
data = pd.read_csv('car_fuel_efficiency.csv')
data.shape

(9704, 11)

In [8]:
data.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

In [9]:
data['fuel_type'].nunique()

2

In [11]:
data.isnull().any().sum()

np.int64(4)

In [12]:
max_efficiency_asia = data[data['origin'] == 'Asia']['fuel_efficiency_mpg'].max()
max_efficiency_asia

np.float64(23.759122836520497)

In [22]:
# Median value of horsepower before filling missing values
median_horsepower_before = data['horsepower'].median()

# Most frequent (mode) value of horsepower
most_frequent_horsepower = data['horsepower'].mode()[0]

# Fill missing values in horsepower with the most frequent value
data['horsepower'] = data['horsepower'].fillna(most_frequent_horsepower)

# Median value of horsepower after filling missing values
median_horsepower_after = data['horsepower'].median()

median_horsepower_before, most_frequent_horsepower, median_horsepower_after

(np.float64(152.0), np.float64(152.0), np.float64(152.0))

In [23]:
if median_horsepower_after > median_horsepower_before:
    result = "Yes, it increased"
elif median_horsepower_after < median_horsepower_before:
    result = "Yes, it decreased"
else:
    result = "No"

result

'No'

In [24]:
import numpy as np

# Select all cars from Asia, columns vehicle_weight and model_year, first 7 values
X = data[data['origin'] == 'Asia'][['vehicle_weight', 'model_year']].head(7).values

# Compute XTX and its inverse
XTX = X.T @ X
XTX_inv = np.linalg.inv(XTX)

# Create y
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])

# Compute w
w = XTX_inv @ X.T @ y

# Sum of all elements of w
w.sum()

np.float64(0.5187709081074025)